<div>
  <div *ngFor="let event of events; let i = index;">
    <div class="{{event.type | lowercase}} event-block">
      <div>
        <div class="text-left"><b>№:</b> {{i}}</div>
        <div><b>Type:</b> {{event.type}}</div>
      </div>
      <div style="margin-top: 15px">
        <div><b>Class:</b> {{event.name | uppercase}}</div>
        <div><b>Event ID:</b> {{event.id}}</div>
        <div *ngIf="event.payload"><b>Details:</b> {{event.payload.name}}</div>
      </div>
    </div>
  </div>
</div>
<br/>
