<div *ngIf="hero">

  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>

  <button (click)="save()">save</button>

  <button (click)="goBack()">go back</button>

  <ul class="events">
    <div *ngFor="let event of events">
      <li class="{{event.type | lowercase}}">
        <span class="badge"><b>Event ID:</b> {{event.id}}</span> <b>Class:</b> {{event.name | uppercase}} <b>Type:</b>
        {{event.type}} <b>Details:</b> {{event.payload.name}}
      </li>
    </div>
  </ul>
</div>
